<% layout('layouts/Boilerplate') %>

    <h2>    <a href="/campgrounds/new">Create Camp</a></h2>
    <ul>
        <% for(let campground of campgrounds){ %>

        <a href="/campgrounds/show/<%= campground._id %>">
              <li><%= campground.name %> | <%= campground.location %></li>
        </a>
            <% } %>
    </ul>
