<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>campgrounds</title>
  </head>
  <body>

    <h2>    <a href="/campgrounds/new">Create Camp</a>
</h2>
    <ul>
        <% for(let campground of campgrounds){ %>

<a href="/campgrounds/show/<%= campground._id %>">
     <li><%= campground.name %> | <%= campground.location %></li>

</a>
            <% } %>
    </ul>
  </body>
</html>
