<% layout('layouts/Boilerplate') %>

<form
  action="/campgrounds/<%= campground._id %>/edit?_method=PATCH"
  method="POST"
>
  <div>
    <h1>Edit Camp</h1>
    <label for="campId">Name</label>
    <input type="text" name="name" id="campId" value="<%= campground.name %>" />
    <label for="campLoc">location</label>
    <input
      type="text"
      name="location"
      id="campLoc"
      value="<%= campground.location %>"
    />

    <button>Submit</button>
  </div>
</form>
<a href="/campgrounds">back </a>
